
body {
    background-color: #B7C0EE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #A49694;
}

#welcome {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.welcomeMessage {
    margin-left: 40px;
}

#projects {
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 110px;
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow:  9px 9px 0px 1px #493843
}

a {
    text-decoration: none;
    color: #CCFCCB;
}

a:visited {
    
    color: #A49694;
}

img:hover {
    height:110px;
    width: 110px;
}

#projectsContainer {
    display: flex;
    flex-wrap: wrap;

}

footer {
    position: fixed;
    bottom: 0;
    margin: 10px;
}

