{{#projects}}
<div class="projectItem">
        <a href= "/projects/{{directory}}">
{{#if ../home}}
        <img src="/{{directory}}/screenshot.png" alt="screenshot">
{{/if}}
        <h2 class="projectTitles">{{name}}</h2>
    </a>
</div>
{{/projects}}  
 