* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey
}

/* Header */

header {
    position: fixed;
    background-color: white;
    height: 60px;
    padding: 10px;
    width: 100%;
    z-index: 99;
}

#logo {
    float: left;
    height: 35px;
}

#hamburgermenu {
    height: 35px;
    width: 35px;
    float: right;
}

/* Main image, text and button */

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main img {
    position: relative;
    width: 100vw;
    object-fit: cover;
    min-height: 70vh;
    object-position: top;
    filter: brightness(70%);
}

.welcome {
    position: relative;
    width: 100%;
    color: white;
}

.text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    font-style: italic;
    font-weight: lighter;
    color: white;
    font-size: 40px;
    margin: 10px;
}
button {
    background-color: yellow;
    width: 220px;
    height: 40px;
    border-radius: 60px/50px;
    border: 4px darkgoldenrod solid;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: darkgoldenrod;
}

button:hover {
    background-color: darkgoldenrod;
    color: yellow;
    border: 4px yellow solid;
}

button:active {
    background-color: rosybrown;
    color:white;
    border: 4px yellow solid;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0px;
    height: 30%;
    padding: 10px;  
    background-color: lightgrey
}

.content {
    padding-left: 5%;
    padding-right: 5%;
    margin:10px;
    
}

.smallimg {
    width: 40px;
    float: left;
    margin-top: 10px;
}

.content h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    margin: 0;
    padding-left: 50px;
    margin-top: 10px;
}

.content p {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin: 0;
    padding-left: 50px;
}

#features {
    width: 50%;
    float: left;
}

#taste {
    width: 50%;
    float: left;
}

#service {
    width: 50%;
    float: right;
}

#limits {
    width: 50%;
    float: right;
}

/* Media screens */

@media screen and (max-width: 720px) {
    header {
        position: fixed;
    }

    #features,
    #limits,
    #service,
    #taste {
        float: left;
        width: 100%;
    }

}


