* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey;
}

header {
    background-color: white;
    height: 60px;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

#logo {
    float: left;
    height: 35px;
}

#hamburgermenu {
    height: 35px;
    width: 35px;
    float: right;
}

main img {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(70%);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    position: relative;
    width: 100%;
    text-align: center;
    height: 100%;
    color: white;
}

h2 {
    font-style: italic;
    font-weight: lighter;
    color: white;
    font-size: 40px;
    margin: 0px;
}

.content h3 {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}

.content p {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin: 0;
    margin-top: 3px;
    margin-left: 60px;
}

button {
    background-color: yellow;
    width: 220px;
    height: 40px;
    border-radius: 60px/50px;
    border: 4px darkgoldenrod solid;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: darkgoldenrod;
}

footer {
    position: relative;
    bottom: 0px;
    height: 200px;
    width: 100%;
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    margin: 0;
    z-index: 2;
}

#features {
    width: 50%;
    float: left;
}

#taste {
    width: 50%;
    float: left;
}

#service {
    width: 50%;
    float: right;
}

#limits {
    width: 50%;
    float: right;
}

.smallimg {
    width: 40px;
    float: left;
    margin: 15px;
}

@media screen and (max-width: 720px) {
    footer {
        padding: 1em;
    }
    #taste,
    #limits,
    #service,
    #taste {
        float: none;
        width: 100%;
    }
}
