<div class='welcomeGrid'>
<h1 class= 'welcome'> Welcome! </h1>
<h3 class="welcomeMessage"> this is my portfolio, have a look!</h3>
</div>  
<div id="projectsContainer">
{{>projects home=true}}
</div>

