<h1> Welcome! </h1>
<h2>this is my portfolio</h2>
<h3>take a look around!</h3>

<div id="projectsContainer">
{{#projects}}
<a href="{{directory}}">
    <img src="{{directory}}/screenshot.png" alt="screenshot">
    <h3>{{name}}</h3>
</a>
{{/projects}}   
</div>

