<div class="homeGrid">
    <div class='welcomeGrid'>
        <h1 class= 'welcome'> Welcome to my portfolio!</h1>
        <h3 class="welcomeMessage"> have a look, play around, enjoy!</h3>
    </div>  

    <div id="projectsContainer">
        {{>projects home=true}}
    </div>
</div>
