* {
    margin: 0;
}


.container {
    display: flex;
}

body {
    display: grid;
    grid-template-columns: 300px 300px 300px
}

.card {
    background-color: mistyrose;
    color:brown;
    width: 300px;

}

.card img {
    width: 300px;
}