* {
    margin: 0;
}

@keyframes pulse {
  0%, 100% {
    background-color: rgba(148,187,233,1);
  }
  50% {
    background-color: rgba(238,174,202,1);
  }
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: pulse 10s infinite ;
}

#board {
    display: flex;
    justify-content: center;
}

.slot {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgba(225, 125, 250, 0.0);
    justify-content: center;
}

 /* holes  */
.hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px dotted white;
    position: relative;
    align-self: center;
    transition: all 0.5s;
}

.player1 .hole {
    border: rgb(94, 156, 228) 5px solid;
}

.player2 .hole {
    border: rgb(245, 120, 174) 5px solid;
}

.player1Select .hole {
    border: rgb(94, 156, 228) 2px dotted;
}

.player2Select .hole {
    border: rgb(245, 120, 174) 2px dotted;
}

/* winning style */
.redWins {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: rgb(238,174,202);
}

.blueWins {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color:  rgba(148,187,233);
}


/* winning message */
h1 {
    font: small-caps bold 24px/1 sans-serif;
    color: white;
    background-color: black;
    padding: 2px;
    margin-right: 80px;
    margin-left: 80px;
}

#restart {
    font: small-caps bold 24px/1 sans-serif;
    z-index: 100;
    transition: background-color 4s ease;
}

#restart:hover {
    background-color: transparent;

}

header {
    display: flex;
    justify-content: center;
}

#redMes {
    visibility: hidden;
    z-index: 100;
    color: rgb(238,174,202);
}

#blueMes {
    visibility: hidden;
    z-index: 100;
    color: rgba(148,187,233);
}
