* {
    margin: 0;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

#board {
    margin-top: 40px;
    display: flex;
}

.slot {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: salmon;
    justify-content: center;
}

.hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    align-self: center;
}

.player1 .hole {
    background-color: blue;
}

.player2 .hole {
    background-color: red;
}

.redWins {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.40);
}

.blueWins {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 255, 0.40);
}

h3, h2, h1 {
    font-family: "Courier New", Courier, monospace;
    
}
