* {
    margin: 0
}

img {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#moreButton {
    background-color: lavenderblush;
    color: burlywood;
    width: 60px;
    font-size: 10px;
    border: 2px pink solid;
    border-radius: 20%;
    visibility: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

img:hover {
    opacity: 40%;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: lavenderblush;
}

body {
    background: gainsboro;
}

header {
    display: flex;
    height: 100px;
    box-shadow: 60px -16px teal;
    width: 400px;
    margin: 20px;
    margin-left: 40px;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rosybrown;
}

.lineup {
    width: 200px;
    margin: 20px;
    margin-left: 40px;
}

#results-container {
    display: inline-grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}