.results-container {
    padding: 10px;
    border-radius: 10%;
    width: fit-content;
}

body {
    background-color: lightpink;
    color: white;
}

.highlight {
    background-color: darkmagenta;
    color: white;
}