* {
    margin: 0;
    font-family: quicksand;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid black;
}

#moreButton {
    background-color: lavenderblush;
    color: black;
    width: 60px;
    font-size: 10px;
    border: 2px black solid;
    visibility: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

#moreButton:hover {
    text-decoration: underline;
}

img:hover {
    opacity: 70%;
    box-shadow: 40px -16px teal;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: lavenderblush;
}

body {
    background: gainsboro;
}

header {
    display: flex;
    height: 100px;
    box-shadow: 60px -16px teal;
    width: 400px;
    margin: 20px;
    margin-left: 40px;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rosybrown;
}

.lineup {
    width: 200px;
    margin: 20px;
    margin-left: 40px;
}

#results-container {
    display: inline-grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#resultsFor {
    font-family: quicksand;
}